body{
    background-color: #070F19;
    font-family: Murecho, sans-serif;
    color: white;
    margin: 0px;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  

ul li {
    list-style: none;
    white-space: nowrap;

}

a {
    all: unset;
}

button {
    all: unset;
    cursor: pointer;
}

* {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 0px;
    border: 1px solid transparent;
}

header > .shadow_ellipse {
    z-index: -1;
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #1E3E62;
    filter: blur(100px);
    opacity: 50%;
    border-radius: 50%;
}

#_1_hero{
    top: -370px;
    left: 237px;
    width: 533px;
    height: 533px;
    opacity: 42%;
}

#_2_hero{
    top: 600px;
    left: -30px;
}

#_3_hero{
    top: 358px;
    left: 1200px;
}


aside {
    background: rgba(12, 25, 40, 0.50);
    box-shadow: -6px 0px 17.8px 20px rgba(0, 0, 0, 0.25);
    height: 100vh;
    display: flex;
    min-width: 250px;
    max-width: 250px;
    padding: 47px 29px 48px 29px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 0px 65px 65px 0px;
}

.logo {
    width: 145px;
}

.logo_cont a {
    cursor: pointer;
    
}

.nav_btn {
    align-self: flex-start;
}

.nav_list {
    display: flex;
    flex-direction: column;
}

.nav_list li, .logout_btn {
    display: flex;
    align-items: center;
    text-align: left;
    align-self: flex-start;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.nav_list li a, .logout_btn a {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-self: flex-start;
    gap: 10px;
    size: 16px;
    border-radius: 20px;
    padding: 20px 100px 20px 25px;
    cursor: pointer;
    width: 100px;
    margin-left: -20px;
}

.nav_list li a:hover, .logout_btn a:hover {
    background: rgba(0, 0, 0, 0.25);
}

.logout_btn {
    margin-top: 130%;
}

.logout_btn a {
    border-bottom-right-radius: 40px;
}

.main {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.books {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.records_table {  
    border-collapse: collapse;
    border-radius: 20px;
    background: #0C1928;
    /* width: 986px; */
    /* width: 70vw; */
    /* max-width: 70vw; */
    /* margin-top: 30px; */
    
}

.records{
    max-height: 550px; /* Set the desired height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
    border-radius: 20px; 
    max-width: 77vw;
}

/* Scrollbar track */
.records::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

/* Scrollbar thumb */
.records::-webkit-scrollbar-thumb {
    background: #1E3E62; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

/* Scrollbar thumb hover */
.records::-webkit-scrollbar-thumb:hover {
    background: #FF6500; /* Color when hovering over the scrollbar */
}

/* Scrollbar track */
.records::-webkit-scrollbar-track {
    background: #0C1928; /* Background color of the scrollbar track */
    border-radius: 20px; /* Rounded corners for the track */

}

.records_table th {
    color: #999999;
    font-size: 15px;
    font-weight: 500; 
    text-align: left;
    border-bottom: 2px solid #A1AEBF;
    position: sticky;
    top: 0;
    background: #0C1928;
    padding: 10px 50px;
}

.records_table th,
.records_table td{
    padding: 10px 50px;
    width: 5%;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



.records_table tbody tr{
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    padding: 51px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.records_table tbody tr:nth-child(odd) {
    background-color: #091523;
    
}

.inshelf, .borrowed {
    background: #02864a;
    color: #e6e6e6;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 2px 1px;
    width: 120%;
}

.borrowed {
    background: #b9500b;
    color: #e6e6e6;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.action-buttons button:hover {
    opacity: 50%;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.paginators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}



.arrow_cont {
    background-color: #0C1928;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;    
    cursor: pointer;

}

.arrow_cont:hover {
    background-color: #FF6500;
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;

}